.form_container {
    width: 100%;
    padding: 1.5rem 1.75rem;

    // margin-left: 5rem;

    .formHead {
        font-size: 24px;
        font-weight: 700;
    }

    .contentRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contentSeperator {
            width: 2rem;
        }

        .emptySide {
            flex: 1;
        }

        .radioBtn {

            font-size: 1.3rem;
        }

        .btnContainer {
            width: 25%;
        }
    }
}



@media only screen and (max-width: 575px) {
    .contentRow {
        flex-direction: column;

        div {
            width: 100%;
        }

        .emptySide {
            display: none;
        }

        .radioBtn {
            width: auto;
            margin: 0 auto;
        }

    }

}