.pageContainer {
    width: 100%;

    .contentContainer {
        width: 85%;

        margin: 0 auto;

        .pageHead {
            font-size: 3.2rem;
            font-weight: 800;

            margin: 4rem 0;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.75;
            font-weight: 300;
        }

        strong {
            font-size: 1.2rem;
            line-height: 1.75;
            margin: 1rem 0;
        }

        h3 {
            font-weight: 600;
            margin-top: 3rem;
        }
    }
}


@media only screen and (max-width: 575px) {
    .pageContainer {
        .contentContainer {
            width: 90%;

            .pageHead {
                font-size: 2.8rem;
                margin: 2rem 0;
            }
        }
    }

}