$important_font_size: 1.5rem;
$selected_step_color: #2563EB;
$dull_color: #E6E6E8;
$basic_font_size: 1.2rem;

.stepsContainer {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;

    .step {
        width: auto;
        display: flex;
        align-items: center;
        cursor: pointer;

        .stepNoContainer {
            width: 4rem;
            height: 4rem;
            background-color: $dull_color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: #52525B;
                font-size: $important_font_size;
                margin: 0;
                padding: 0;
            }
        }

        p {
            font-size: $important_font_size;
            margin: 0;
            padding: 0;
            margin-left: 1rem;
        }
    }

    .stepSelected {
        .stepNoContainer {
            background-color: $selected_step_color;

            p {
                color: white;
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .stepsContainer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: 3rem auto;
        padding: 0rem 1rem;

        .step {
            .stepNoContainer {
                width: 3rem;
                height: 3rem;

                p {
                    font-size: $basic_font_size;
                }
            }

            p {
                font-size: 1rem;
                margin: 0;
                padding: 0;
                margin-left: 0.5rem;
                line-height: 1.25;
            }
        }
    }
}