.navbar {
    max-width: 1200px;
    width: 100%;
    height: 8vh;
    background-color: transparent;
    color: #fff;
    padding: 2rem 0rem !important;
    margin: 0 !important;

    .navbar_container {
        // padding: 3rem 0rem !important;
        display: flex;
        align-items: center;

        .nav_conLight {
            // padding-top: 10px !important;
            margin-left: 20px;

            .nav_links {
                display: flex;
                font-size: 1.3rem;
                font-weight: 300;
                color: #ffffff;
            }
        }

        .nav_conDark {
            // padding-top: 10px;
            margin-left: 20px;

            .nav_links {
                display: flex;
                font-size: 1.3rem;
                font-weight: 300;
                color: #0F172A;
            }
        }

        .right_menu {

            .nav_linksLight {
                font-size: 1.3rem;
                font-weight: 300;
                color: #ffffff;
                margin-right: 10px;
                margin: auto auto;

                img {
                    margin-right: 10px;
                }
            }

            .nav_linksDark {
                font-size: 1.3rem !important;
                font-weight: 300;
                color: #0F172A !important;
                margin-right: 10px;
                margin: auto auto;

                img {
                    margin-right: 10px;

                }
            }

            .loginBtnLight {
                margin: auto auto;
                background-color: transparent !important;
                margin-left: 20px;
                color: #fff;
                font-size: 1.2rem;
                font-weight: 300;
                border: 2px solid #fff;

                img {
                    margin-right: 5px;
                }
            }

            .loginBtnDark {
                font-size: 1.3rem !important;
                margin: auto auto;
                background-color: transparent !important;
                margin-left: 20px;
                color: #0F172A !important;
                font-size: 1.2rem;
                font-weight: 300;
                border: 2px solid #0F172A !important;

                img {
                    margin-right: 5px;
                }
            }
        }
    }
}




@media only screen and (max-width: 992px) {
    .navToggleLight {
        color: #fafafa !important;
        background-color: #fafafa;
    }

    .navbarScrollLight {
        background-color: #1f2a39 !important;
        z-index: 1;

    }

    .navbarScrollDark {
        background-color: #fafafa !important;
        z-index: 1;
    }

    #navbarScroll {
        z-index: 1;
        background-color: #1f2a39;
        padding: 1rem 2rem 3rem 1rem;
        margin-top: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .nav_links {
            font-size: 1.8rem !important;
            font-weight: 500;
            // border: 2px solid red !important;
        }

        .navPhone {
            font-weight: 500;
            margin-left: 20px;
        }

        .loginBtn {
            font-weight: 500;
            font-size: 1.6rem !important;
            width: 100px;
        }
    }
}