$main_background_color: #F8FAFC;
$content_padding: 1.5rem 1.75rem;
$basic_font_size: 1.2rem;
$important_font_size: 1.5rem;
$dull_color: #E6E6E8;


.userProfileAvatarContainer {
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        object-fit: contain;
    }

    .profileDetails {
        margin-left: 1rem;

        .userName {
            font-weight: 500;
            font-size: $important_font_size;
            // margin-top: -5rem;
            margin: 0;

        }

        .secondaryDetails {
            font-size: $basic_font_size;
            margin: 0;
        }
    }
}