$important_font_size: 1.5rem;
$danger_btn_fill_color: #EB2525;
$secondary_color: #B3B3B6;

.secondaryBtn {
    width: 100%;
    height: 5.5rem;

    font-size: $important_font_size;
    color: white;

    border-radius: 8px;
    outline: none;
    border: 0;

    font-size: $important_font_size;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 1rem;
    }

    margin: 1.2rem 0;
}

.successBtn {
    background-color: $danger_btn_fill_color;

    width: 100%;
    height: 5.5rem;

    font-size: $important_font_size;
    color: white;

    border-radius: 8px;
    outline: none;
    border: 0;

    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 1rem;
    }

    margin: 1.2rem 0;
}

$important_font_size: 1.5rem;
$danger_btn_fill_color: #EB2525;

.secondaryBtn {
    width: 100%;
    height: 5.5rem;

    font-size: $important_font_size;
    color: white;

    border-radius: 8px;
    outline: none;
    border: 0;

    font-size: $important_font_size;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 1rem;
    }

    margin: 1.2rem 0;
}

.backBtn {
    background-color: transparent;

    width: 100%;
    height: 5.5rem;

    font-size: $important_font_size;

    border-radius: 8px;
    outline: none;
    border: 0;

    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid $secondary_color;
    color: $secondary_color;

    img {
        margin-right: 1rem;
    }

    margin: 1.2rem 0;
}